body {
  font-family: "Poppins", sans-serif;
  background-color: #fdfdfd;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #001f3f;
}

header {
  background-color: #001f3f;
  color: #ffd700;
  padding: 20px 10px;
}

h1 {
  margin: 0;
  font-size: 2em;
}

h2 {
  margin-top: 5px;
  font-weight: 400;
  color: #fff;
}

.intro {
  padding: 20px;
  max-width: 600px;
  margin: auto;
}

.btn {
  display: inline-block;
  background-color: #ffd700;
  color: #001f3f;
  padding: 12px 25px;
  margin: 15px;
  text-decoration: none;
  border-radius: 8px;
  transition: 0.3s;
  font-weight: 600;
}

.btn:hover {
  background-color: #001f3f;
  color: #ffd700;
}

footer {
  margin-top: 40px;
  padding: 10px;
  color: #777;
  font-size: 0.9em;
}

